<style>
  @import url(/styles/header.css);
</style>
<header>
  <div class="logo">
    <img src="/assets/logo.png" alt="" />
  </div>
  <div class="link">
    <a href="">SignUp</a>
    <a href="">About Us</a>
  </div>
</header>
